<!-- src/app/login/login.component.html -->
<div class="login-container">
  <div class="login-box">
    <h2>Oturum Aç</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="input-group">
        <input
          type="text"
          name="username"
          [(ngModel)]="username"
          placeholder="Kullanıcı Adı"
          required
        />
        <i class="fa fa-user icon"></i>
      </div>
      <div class="input-group">
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Şifre"
          required
        />
        <i class="fa fa-lock icon"></i>
      </div>
      <div class="options">
        <label><input type="checkbox" /> Beni hatırla</label>
        <a routerLink="/forgot-password">Şifremi Unuttum</a>
      </div>
      <button type="submit">Giriş Yap</button>
      <p class="register-text">
        Hesabınız yok mu? <a routerLink="/register">Kayıt Ol</a>
      </p>
    </form>
  </div>
</div>
