<div class="cards">
  <a class="cardLink" routerLink="/parts-of-cars/part-guilia"
    ><div class="card">
      <img
        src="assets/cars/AR-Home-Trim-Intensa-Giulia.png"
        alt="AR-Home-Trim-Intensa-Giulia"
      />
      <h5 class="card-title">Alfa-Romeo Giulia</h5>
    </div></a
  >
  <a class="cardLink" routerLink="/parts-of-cars/part-stelvio"
    ><div class="card">
      <img
        src="assets/cars/AR-Home-Trim-Intensa-Stelvio.png"
        alt="AR-Home-Trim-Intensa-Stelvio"
      />
      <h5 class="card-title">Alfa-Romeo Stelvio</h5>
    </div></a
  >
</div>
