.forgot-password-container {
  background: url("/assets/night-forest.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background-color: white;
  color: #6a0dad;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease;
  box-sizing: border-box;
}

.back-button:hover {
  background-color: #e6e6e6;
}

.forgot-password-box {
  background: rgba(0, 0, 0, 0.21);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 60px 50px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  width: 400px;
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 16px 45px 16px 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  color: rgb(0, 0, 0);
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-group .icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: white;
}

button {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background-color: white;
  color: #6a0dad;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #e6e6e6;
}

.confirmation-text {
  margin-top: 20px;
  text-align: center;
  color: #d5bfff;
  font-size: 16px;
}
