<div class="forgot-password-container">
  <div class="forgot-password-box">
    <h2>Şifremi Unuttum</h2>
    <form (ngSubmit)="onSubmit()" #forgotForm="ngForm">
      <div class="input-group">
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="E-posta adresinizi girin"
          required
        />
        <span class="icon">"&#64;"</span>
      </div>
      <button type="submit">Gönder</button>
    </form>
    <a class="back-button" routerLink="/login">Geri Dön</a>
  </div>
</div>
