<div class="container">
  <h1>Anlaşmalı Firmalarımız</h1>
  <div class="logos">
    <div class="top-logos">
      <a class="logo" routerLink="/cars/fiat">
        <img src="assets/FIAT.png" alt="FIAT" style="width: 120px" />
      </a>
      <a class="logo" routerLink="/cars/alfa-romeo">
        <img src="assets/ALFAROMEO.png" alt="ALFA ROMEO" style="width: 150px" />
      </a>
      <a class="logo" routerLink="/cars/peugeot">
        <img src="assets/PEUGEOT.png" alt="PEUGEOT" style="width: 150px" />
      </a>
      <a class="logo" routerLink="/cars/opel">
        <img src="assets/OPEL.png" alt="OPEL" style="width: 150px" />
      </a>
    </div>
    <div class="bottom-logos">
      <a class="logo" routerLink="/cars/citroen">
        <img src="assets/CITROEN.png" alt="CITROËN" style="width: 250px" />
      </a>
      <a class="logo" routerLink="/cars/ds">
        <img src="assets/DS.png" alt="DS AUTOMOBILES" style="width: 170px" />
      </a>
      <a class="logo" routerLink="/cars/jeep">
        <img src="assets/JEEP.png" alt="JEEP" style="width: 195px" />
      </a>
    </div>
  </div>
</div>
