<h2>Sepetim</h2>
<div *ngIf="cartItems.length === 0" class="empty-cart-message">
  Sepetiniz boş.
</div>
<div *ngFor="let item of cartItems" class="cart-container">
  <img [src]="item.imageUrl" alt="{{ item.name }}" class="product-image" />
  <div class="product-details">
    <h4>{{ item.name }}</h4>
    <p>Birim fiyat: {{ item.price }} TL</p>
    <p>Toplam fiyat: {{ item.price * (item.quantity || 1) }} TL</p>
    <p>Adet: {{ item.quantity }}</p>
    <button (click)="increaseQuantity(item)">+</button>
    <button (click)="decreaseQuantity(item)">-</button>
    <button (click)="removeItem(item)">Sepetten Çıkar</button>
  </div>
</div>
<!-- Toplam Ücret -->
<div *ngIf="cartItems.length > 0" class="total-price-container">
  <h3>Toplam Ücret: {{ totalPrice }} TL</h3>
  <a routerLink="/checkout" class="checkout-button">Ödeme Sayfasına Geç</a>
</div>
